
/* Title */
title {
    display: none;
}

/* Wrapper */

    #wrapper {
        width: 64em;
        max-width: calc(100% - 4em);
        margin: 0 auto;
    }

        @media screen and (max-width: 480px) {
            
            #wrapper {
                max-width: calc(100% - 2em);
            }
        }

        @media screen and (max-width: 360px) {

			#wrapper {
				max-width: 100%;
			}

		}


/* Image */

    .image {
        border-radius: 8px;
        border: 1;
        display: inline-block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        justify-content: center;
    }

/* Header */
    .header {
        display: flex;
        justify-content: space-around;
        background-color: #4CC7E2;
        height: 75px;
    }

        .main-header h1{
            max-width: fit-content;
            font-size: 150px;
        }

/* Colours */
    .background-colour {
        background-color: #E2674C;
    }

/* Testing 

    .test {
        display: flex;
        justify-content: space-around;
        background-color: #4CC7E2;
    }

    */