
/* Title */
title {
    display: none;
}

/* Wrapper */

    #wrapper {
        width: 64em;
        max-width: calc(100% - 4em);
        margin: 0 auto;
    }

        @media screen and (max-width: 480px) {
            
            #wrapper {
                max-width: calc(100% - 2em);
            }
        }

        @media screen and (max-width: 360px) {

			#wrapper {
				max-width: 100%;
			}

		}

/* Body */
    .body {
        float: left;
        width: 100%;
        background-color: white;
        align-content: center;
        text-align: center;
    }

/* Center */
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

/* Image */

    .image {
        border-radius: 8px;
        border: 0;
        display: inline-block;
        align-content: center;
        justify-content: center;
    }

    .headshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin: 0 auto;
        max-width: 50%;
        object-fit: contain;
    }

/* Header */
    .header {
        float: left;
        background-color: #4CC7E2;
        text-align: center;
        padding: 20px;
        align-content: center;
        width: 100%;
    }

        header h1 {
            font-size: 20vw;
            width: 100%;
        }

/* Colours */
    .background-colour {
        background-color: #E2674C;
    }

/* Footer */
    .footer {
        text-align: center;
        padding: 5px;
        background-color: slategray;
        color: black;
        padding-top: 10px;
    }

/* Testing 

    .test {
        display: flex;
        justify-content: space-around;
        background-color: #4CC7E2;
    }

    */