
/* Body */
    #body1 {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 5px;
        background-color: white;
        align-content: center;
        width: 100%;
        height: 100vh;
        padding-bottom: 35px;
    }

    #body2 {
        height: 200px;
        width: 100%;
        padding: 5px;
        background-color: orchid;
        display: flex;
        flex-direction: column;
        position: relative;
    }

/* Elements */
    #containter {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }

    #snapshot {
        position: absolute;
        background: goldenrod;
        height: 200px;
        width: 50%;
        top: 50%;
        left: 37.5%;
        text-align: left;
        float: right;
        padding-left: 10px;
    }

/* Footer */
    #footer {
        clear: both;
        position: relative;
        background-color: gray;
        padding: 5px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35px;
    }

/* Header */
    #header {
        background-color: #4CC7E2;
        text-align: center;
        padding: 5px;
        align-content: center;
        width: 100%;
    }

/* Image */
    .image {
        border-radius: 8px;
        border: 0;
        display: inline-block;
        align-content: center;
        justify-content: center;
    }

    #headshot {
        position: absolute;
        width: 25%;
        height: auto;
        top: 50%;
        left: 12.5%;
        float: left;
    }

/* Title */
    title {
        display: none;
    }

/* Wrapper */

    #wrapper {
        margin-right: auto;
        max-width: 100vw;
        padding-right: 10px;
        box-sizing: border-box;
    }

/* Testing 
    .test {
        display: flex;
        justify-content: space-around;
        background-color: #4CC7E2;
    }

    */